.app {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 5px; // space between items
  // align-items: center;
  // justify-content: center;
  color: #242424;
  background-color: #dfdfdf;
}

#containerMenu {
  // not sure yet what this should be set to
  // flex-basis: 25px; // probably should be set based on em instead
}

.diagram {
  flex-grow: 1;
  border: solid;
}

.item-list {
  flex-grow: 1;
  border: solid;
}

button.action {
  margin: 2px;
}